.navbar {
  height: 5rem;
  width: 100Vw;
  text-decoration: none;
  display: flex;
  margin: 0 auto;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo {
  max-width: 10%;
  object-fit: cover;
  height: 3rem;
  width: 4rem;
}